.main1 {
    text-align: center;
    margin-top: 30px;
    justify-content: center;
}

.flex_row {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
}

.thumbnail {
    padding-left: 20px;
    height: 70px;
    width: 70px;
    object-fit: cover;
}

.clicked {
    border: 5px solid black;
    object-fit: cover;
}
.btns {
    height: 40px;
    width: 40px;
    border-radius: 5px;
    background: grey;
}