.card {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 1rem 1rem;
    background-color: #f4dd9a;
    border-radius: 10px;
}
@media screen and (max-width: 960px) {
    .card {
    margin-bottom: 5rem;
        height: 10rem;
    }
}

.foodName {
    font-size: 24px;
    font-weight: bolder;
    padding: 1rem .5rem;
}

.foodDesc {
    font-size: 16px;
    text-align: left;
    padding: 0rem .5rem;
    margin-bottom: 1rem;
}

.btn {
    background-color: #5569c49f;
    color: #fefefe;
    font-weight: bold;
    text-transform: uppercase;
    padding: 1rem 0rem;
    width: 300px;
    outline: none;
    border: none;
    border-radius: 0px 0px 10px 10px;
    cursor: pointer;
}
.btn:hover{
    background-color: #fefefe;
    color: #d85014;
}

.img {
    width: 300px;
    height: 250px;
    border-radius: 10px 10px 0px 0px ;
}