.cardsContainers {
    width: 100%;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #f1efd7;
}

.menu {
    color: #000000;
    margin: 2.5rem 0rem;
    /* margin-top: 0rem; */
    font-size: 2rem;
    position: relative;
}

/* .menu::before {
    content: "";
    position: absolute;
    top: 20px;
    left: -400px;
    background-color: #feffef;
    width: 350px;
    height: 3px;
}

.menu::after {
    content: "";
    position: absolute;
    top: 20px;
    right: -400px;
    background-color: #feffef;
    width: 350px;
    height: 3px;
} */

.cards {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 960px) {
    /* .cardsContainers {
        width: 100%;
        z-index: 0;
        display:flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    } */

    .cards {
        display: flex;
        align-items: center;
        flex-direction:column;
    }
    

}